Makefile
gale-*
config.status
libtool
config.log
config.h
stamp-h1
*.o
*.lo
*.la
.libs
gdomain/gdomain
gsub/gsub
gsend/g*
kutils/gk*
libgale/*_test
liboop/test-*
server/galed
.deps
ar-lib
autom4te.cache
config.h.in~
